docker-compose.yml filter=lfs diff=lfs merge=lfs -text
jest.config.js filter=lfs diff=lfs merge=lfs -text
package-lock.json filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
